<div class="row">
  <div class="col-md-6">
    <h2>Edit Post:</h2>
    <form class="form edit-post-form">
      <div class="form-group">
        <label for="post-title">Title:</label>
        <input class="form-input" type="text" id="post-title" value="{{post.title}}" />
      </div>
      <div class="form-group">
        <label for="post-content">Content:</label>
        <textarea class="form-input" id="post-content">{{post.content}}</textarea>
      </div>
      <div class="form-group">
        <button type="submit" class="btn btn-primary">Save Changes</button>
      </div>
    </form>
  </div>
</div>
<script src="/js/edit-post.js"></script>
